In [4]:
import numpy as np
import pandas as pd

In [5]:
email = 'krish@email.com'
names = pd.Series(['Bruce Wayne', 'Clark Kent', 'Barry Allen', 'Hal Jordan', 'Diana Prince'])

In [6]:
names

0     Bruce Wayne
1      Clark Kent
2     Barry Allen
3      Hal Jordan
4    Diana Prince
dtype: object

In [7]:
names.str.isnumeric()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [8]:
names.str.isupper()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [9]:
names.str.upper()

0     BRUCE WAYNE
1      CLARK KENT
2     BARRY ALLEN
3      HAL JORDAN
4    DIANA PRINCE
dtype: object

In [10]:
stocks = ['ICICI, HDFC, AXIS,KOTAK,SBI',
          'TCS, WIPRO,HCL']

In [15]:
split_stocks_1 = stocks[0].split(',')
split_stocks_1

['ICICI', ' HDFC', ' AXIS', 'KOTAK', 'SBI']

In [16]:
stock_ser = pd.Series(split_stocks_1)
stock_ser

0    ICICI
1     HDFC
2     AXIS
3    KOTAK
4      SBI
dtype: object

In [22]:
split_stocks_2 = stocks[1].split(',')

pd.concat([stock_ser, pd.Series(split_stocks_2)], ignore_index=1)
#split_stocks_2
#stock_ser

0     ICICI
1      HDFC
2      AXIS
3     KOTAK
4       SBI
5       TCS
6     WIPRO
7       HCL
dtype: object